body{
background-color:#FFFFFF;
text-align:center;
}

#webside{
width:980px;
margin:0 auto;
}

#header{
width:980px;
}

#header1{
margin-bottom:20px;
float:left;
width:877px;
height:75px;
background-color:#000066;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
}

#logo{
margin-bottom:20px;
float:right;
width:93px;
height:75px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
}

#header h1{
font-weight:bold;
color:#FFFFFF;
font-family:Courier;
}

