body{
background-color:#FFFFFF;
text-align: center;
}

#webside{
width:980px;
margin:0 auto;
}

#header{
width:980px;
}

#header1{
margin-bottom:20px;
float:left;
width:877px;
height:75px;
background-color:#000066;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
}

#logo{
margin-bottom:20px;
float:right;
width:93px;
height:75px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
}

#header h1{
font-weight:bold;
color:#FFFFFF;
font-family:Courier;
}

table {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7; margin-left:auto;margin-right:auto;}

table a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}  

table a:visited {color: #777;}

table a:hover {color: #000;}  

table caption {text-align: center; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

table th {background: #000066; padding: 15px 10px; color: #fff; text-align: center; font-weight: normal;}

table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

table tbody {border-bottom: 1px solid #EAECEE;}
                      
table tbody td, table tbody th {padding: 10px; repeat-x; text-align: center;}

table tbody tr {background: #F3F5F7;}

table tbody tr.odd {background: #F0F2F4;}

table tbody  tr:hover {background: #EAECEE; color: #111;}

table tfoot td, table tfoot th, table tfoot tr {text-align: center; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}


input[type="submit"] {
padding: 2px;
color: white;
text-decoration: none;
font-size: 110%;

background-color: #6B90C6;
border: 1px solid #3366CC;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(107,143,198)),
	color-stop(0.73, rgb(17, 44, 117))
);
background-image: -o-linear-gradient(bottom, rgb(107,143,198) 0%,rgb(17, 44, 11773%);
background-image: -moz-linear-gradient(bottom, rgb(107,143,198) 0%,rgb(17, 44, 117)73%));
background-image: -webkit-linear-gradient(bottom, rgb(107,143,198) 0%,rgb(17, 44, 117)73%);
background-image: -ms-linear-gradient(bottom, rgb(107,143,198) 0%,rgb(17, 44, 117)73%);
background-image: linear-gradient(to bottom, rgb(107,143,198) 0%,rgb(17, 44, 117)73%);

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type="submit"]:hover
{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(17, 44, 117))
);
background-image: -o-linear-gradient(bottom, rgb(17, 44, 117) );
background-image: -moz-linear-gradient(bottom, rgb(17, 44, 117) ));
background-image: -webkit-linear-gradient(bottom, rgb(17, 44, 117) );
background-image: -ms-linear-gradient(bottom, rgb(17, 44, 117) 0%,);
background-image: linear-gradient(to bottom, rgb(17, 44, 117) 0%,);
}